{% extends 'base.html.twig' %}
{% block title %}Qui Sommes-nous ?{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/assets/css/who.css') }}">
{% endblock %}
{% block body %}
<section class="content">
    <div class="hugo block">t</div>
    <div class="corentin block">e</div>
    <div class="valentin block">s</div>
    <div class="marc block">t</div>
</section>
{% endblock %}
