@import url('font.css');
@import url('root.css');
*{
    padding: 0;
    margin: 0;
}
html{
    display: flex;
    padding: 35px 0 0 0 ;
    color: white;
    font-family: Podkova-M;
    background: var(--main-bg-light);
    background: radial-gradient(circle, var(--main-bg-light) 0%, var(--main-bg-dark) 100%);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    justify-content: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-x: hidden;
}
body{
    width: 75vw;
}
.navbar {
    z-index: 999;
    gap: 50px;
    position: sticky;
    top: 35px;
}
.navbar-btn{
    color: white;
    text-decoration: none;
}
.jcontent-center{
    display: flex;
    justify-content: center;
}
.active{
    background: var(--main-active-dark);
    background: linear-gradient(90deg, var(--main-active-dark) 0%, var(--main-active-light) 100%);
    font-weight: 600;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.d-flex{
    display: flex;
    flex-direction: row;
}
.block{
    background: var(--block-bg);
    backdrop-filter: blur(5);
    border-radius: 25px;
    border: solid 1px var(--block-border);
}
.content-page{
    min-height: 61vh;
}