:root{
    --main-bg-light: #0c405d;
    --main-bg-dark: #0F172A;
    --main-active-light: #0DC8D7;
    --main-active-dark: #0DA8E8;
    --block-bg: #121c3199;
    --block-border: #202c40;
    --secondary-text-color : #b3b3b3;
}